<!doctype html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title || "La Paz Cloud" %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <meta property="og:title" content="<%= current_page.data.title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.lapazcloud.com/" />
    <meta property="og:image" content="https://www.lapazcloud.com/images/docker.png" />
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="is-family-sans-serif">
    <%= yield %>
  </body>
</html>
